body {
  display: flex;
  justify-content: center;
}
.calculator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-width: 200px;
  box-sizing: border-box;
  border: 1px solid black;
  flex: 0 1 25%;
}
.calculator-screen {
  width: 100%;
  text-align: right;
  height: 30px;
  background-color: black;
  color: white;
  padding-right: 3px;
}
.calculator-keys {
  display: flex;
  flex-wrap: wrap;
}
button {
  height: 30px;
  flex: 0 1 25%;
}
button.equal-sign {
  flex-grow: 1;
}
