body{
    background-color:rgb(211, 226, 225);
}
main{
    width: 60%;
    margin: auto;
}
section{
    background-color: white;
    padding: 10px;
    margin-bottom: 1px;
    text-align: center;
}
section h2{
    margin-top: 0;
    text-align: center;
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
}
section span{
    font-weight: bold;
}
.alpha{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bravo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.charlie{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.delta{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.echo{

}